 <!-- <mat-card class="example-card" style="width:400px;">  -->
    <form [formGroup]="addStudentForm" (ngSubmit)="onAddStudent(addStudentForm)">
        

    <!-- <mat-card-content> -->
     
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter Id</mat-label>
          <input type="number" matInput formControlName="id"  required>
      </mat-form-field>
   
   <br>
   
   
    
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Name</mat-label>
        <input type="text" matInput formControlName="name" required>
    </mat-form-field>


 <br>


    
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Admission Number</mat-label>
        <input type="text" matInput formControlName="admissionNumber" required>
    </mat-form-field>
 
<br>

   
    <mat-form-field  appearance="fill">
        <mat-label>Enter Section</mat-label>
        <mat-select type="text" matInput formControlName="section" required >
        <mat-option value="VI">VI</mat-option>
        <mat-option value="VII">VII</mat-option>
        <mat-option value="VIII">VIII</mat-option>
        <mat-option value="IX">IX</mat-option>
        <mat-option value="X">X</mat-option>
        <mat-option value="XI">XI</mat-option>
        <mat-option value="XII">XII</mat-option>
    </mat-select>
    </mat-form-field>
 
    <br>

   

    <mat-radio-group aria-label="Enter Division"  matInput formControlName="division" required>
        <mat-label>Enter Division</mat-label>
        <mat-radio-button type="text" value="A">A</mat-radio-button>
        <mat-radio-button value="B">B</mat-radio-button>
        <mat-radio-button value="C">C</mat-radio-button>
      </mat-radio-group>
    
<br>
  
    
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Total Marks</mat-label>
        <input type="number" matInput formControlName="totalMarks">
    </mat-form-field>
    

 <br>  
    
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter percentage</mat-label>
        <input type="number" matInput formControlName="percentage" required>
    </mat-form-field>
    
<br>
   
    
    <mat-radio-group aria-label="Enter Result"  type="text"matInput formControlName="result" required>
        <mat-radio-button value="PASS">PASS</mat-radio-button>
        <mat-radio-button value="FAIL">FAIL</mat-radio-button>
        
      </mat-radio-group>
    
<br>
   
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date Of Birth</mat-label>
        <input type="date" matInput [matDatepicker]="picker" matInput formControlName="dateOfBirth">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <!-- <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> -->
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
<br>
    <mat-radio-group aria-label="Enter Gender" type="text" matInput formControlName="gender" required>
        <mat-radio-button value="MALE">MALE</mat-radio-button>
        <mat-radio-button value="FEMALE">FEMALE</mat-radio-button>
        <mat-radio-button value="OTHERS">OTHERS</mat-radio-button>
      </mat-radio-group>
   <br> 
    

   
   <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter Nationality</mat-label>
    <mat-select type="text" matInput formControlName="nationality" required >
    <mat-option value="INDIAN">INDIAN</mat-option>
    <mat-option value="OTHERS">OTHERS</mat-option>
   
</mat-select>
</mat-form-field>
<br>
   
    <form formGroupName="address">
        <mat-label>Enter Address</mat-label>
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>City</mat-label>
              <input matInput placeholder="Ex. San Francisco" formControlName="city">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>State</mat-label>
              <input matInput placeholder="Ex. California" formControlName="state">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
                <mat-label>Country</mat-label>
                <input matInput placeholder="Ex. California" formControlName="country">
              </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>Postal Code</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043" formControlName="zip">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field></td>
          </tr></table>
    </form>
    
<br>
   
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter schoolName</mat-label>
        <input type="text"matInput formControlName="schoolName" required>
    </mat-form-field>
   <br> 
    <mat-radio-group aria-label="Enter Medium Of Instrucion" type="text" matInput formControlName="mediumOfInstruction" required>
        <mat-radio-button value="ENGLISH">ENGLISH</mat-radio-button>
        <mat-radio-button value="OTHERS">OTHERS</mat-radio-button>
        
      </mat-radio-group>
   
   <br> 
    

   
     
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Phone Number</mat-label>
        <input type="number" matInput formControlName="phoneNumber" required>
    </mat-form-field>
    
<br>
   
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Emergency Contact</mat-label>
        <input type="number" matInput formControlName="emergencyContact" required>
    </mat-form-field>
<br>
 

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Email</mat-label>
        <input type="email" matInput formControlName="email" required>
    </mat-form-field>
<br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Religion</mat-label>
        <mat-select type="text" matInput formControlName="religion" required >
        <mat-option value="HINDU">HINDU</mat-option>
        <mat-option value="MUSLIM">MUSLIM</mat-option>
        <mat-option value="CHRISTIAN">CHRISTIAN</mat-option>
        <mat-option value="OTHERS">OTHERS</mat-option>
        
    </mat-select>
    </mat-form-field>


   
   <br>
    


   
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Father Name</mat-label>
        <input type="text" matInput formControlName="fathername" required>
    </mat-form-field>
    

<br>
   
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Occupation</mat-label>
        <input type="text" matInput formControlName="occupation" required>
    </mat-form-field>
    

<br>
   

   
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Annual Income</mat-label>
        <input type="number" matInput formControlName="annualIncome" required>
    </mat-form-field>

  <br>  
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Remark</mat-label>
        <input type="text" matInput formControlName="remark" required>
    </mat-form-field>
    <br>

   <!-- </mat-card-content>
  -->
   
  <button type="submit" mat-raised-button color="primary" >Add</button>
   
   </form>
   <br>        
     <!-- </mat-card> -->
 <button type="submit" (click)="backToHome()" mat-raised-button color="primary" >Back</button>
  